body, html {
    height: 100%;
  }
  


.bg {
    background-image: url("./u.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgad {
    background-image: url("./a.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .featured-label {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
